* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;

}
body {
    border:1px solid white;
    height:100vh;
    background-color: hsl(185, 75%, 39%);
    display:flex;
    justify-content: center;
    align-items: center;

}
.main-container {
    border:1px solid white;
    width:375px;
    height:400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: white;

} 
.title-container {
    display:flex;
    gap:10px;
}



.header {
    width:375px;
    height:162px;
    border-radius: 25px 25px 0 0;
}
.text {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    height:225px;
    gap:15px;
}
.top {
    display:flex;
    flex-direction: column;
    border:1px solid black;
    align-items: center;
    justify-content: center;
    font-size:20px;
    gap: 10px;
    margin-top:65px;
}
.title {
    font-weight:700;
}
.age {
    font-weight: 400;
    color:hsl(0, 0%, 59%);
}
.city {
    color:hsl(0, 0%, 59%);
}
.stats-box {
    display: flex;
    border:1px solid black;
    width:300px;
    height:75px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top:20px;
}
.number {
    font-weight: 700;
    font-size: 18px;;
}

