* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    border:1px solid white;
    height:100vh;
    background-color: hsl(185, 75%, 39%);
    display:flex;
    justify-content: center;
    align-items: center;

}
.main-container {
    border:1px solid white;
    width:350px;
    height:400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: white;

} 
.title-container {
    display:flex;
}

.stats-box {
    display:flex;
}
.header {
    width:350px;
    height:150px;
    border-radius: 25px 25px 0 0;
}
.text {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    border:1px solid black;
    height:225px;
}


